<html ng-app="searchmodule">

<head>
    <title>searchjobs</title>
    <link rel="stylesheet" href="..\imports\bootstrap.css">    
    
</head>

<body>
    <div class="container" ng-controller="searchjobsController as searchjobsController">
        <h4>SEARCH JOBS</h4>
        <input type="text" id="searchKeyId" name="searchKeyId" ng-model="searchjobsController.searchKey">               
        <span>search key is : {{searchjobsController.searchKey}}</span>
    </div>





    <script src="..\imports\angular.js"></script>
    <script src="..\models\serachjobs.model.js"></script>
    <script src="..\modules\searchjobs.module.js"></script>
    <script src="..\controllers\searchjobs.controller.js"></script>    
    

    
    </body>
    
</html>