<html ng-app="searchResultsModule">

<head>
    <title>SearchResults</title>
    <link rel="stylesheet" href="..\imports\bootstrap.css">
</head>

<body>
    <div class="container" ng-controller="searchResultsController as searchResultsController">
        <h3>SearchResults</h3>
        
        <table class="table table-striped">
            <thead class="thead-dark" >
                <tr>
                    <th scope="col">Ttitle</th>
                    <th scope="col">Location</th>
                    <th scope="col">Posted Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span ng-bind="searchResultsController.titile"></span></td>
                    <td><span ng-bind="searchResultsController.location"></span></td>
                    <td><span ng-bind="searchResultsController.postedDate"></span></td>
                </tr>
                <tr>
                    <td>Ttitle2</td>
                    <td>Location2</td>
                    <td>Posted Date2</td>
                </tr>
                <tr>
                    <td>Ttitle3</td>
                    <td>Location3</td>
                    <td>Posted Date3</td>
                </tr>
            </tbody>
        </table>












        <span>{{searchResultsController.titile}}</span>
    </div>



    <script src="..\imports\angular.js"></script>
    <script src="..\models\searchresults.model.js"></script>
    <script src="..\modules\searchresults.module.js"></script>
    <script src="..\services\searchresults.service.js"></script>
    <script src="..\controllers\searchresults.controller.js"></script>
    
</body>

</html>